* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ayuda a que el tamaño de los elementos sea exacto */
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal accidental */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}